<section id="frontpage" class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div id="titlesbackground" class="has-text-centered">
            <p class="title has-text-white">
                Charles Yang
            </p>
            <p class="subtitle has-text-light">
                Developer & Climber
            </p>
        </div>
    </div>
</section>

<section>
    <div class="container is-fluid">
        <h1 class="is-size-3 has-text-centered has-text-weight-bold block">
            Who am I?
        </h1>
        <div class="columns block">
            <div class="column">
                <div class="box h-100">
                    <h5 class="title is-5">
                        Developer
                    </h5>
                    <p class="block">
                        Curious about discussions around software architecture & cloud engineering.
                        Highly interested in SaaS. Not a frontend designer.
                    </p>
                    <p class="block">
                        I have distributed experience between software infrastructure, web development, cloud services.
                        Please see my <a asp-action="Resume">resume</a> for more details.
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="box h-100">
                    <h5 class="title is-5">
                        Climber
                    </h5>
                    <p class="block">
                        I love nature, rocks, and climbing everything. I got addicted to climbing in early 2019.
                        Hoping to break the V8 barrier in the near future.
                    </p>
                    <div class="has-text-centered block">
                        <button id="climbToggle" class="button is-info">Cool Picture</button>
                    </div>
                    <div id="climb" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <p class="image is-fluid">
                                <img src="~/images/climb.jpg"
                                    alt="Charles Yang and some friends hanging off a cliff at Taylor Falls, Minnesota">
                            </p>
                        </div>
                        <button class="modal-close is-large" aria-label="close"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="has-background-white-bis">
    <div class="container is-fluid">
        <h1 class="is-size-3 has-text-centered has-text-weight-bold block">
            IYarles Stack
        </h1>
        <div class="columns block is-multiline">
            <div class="column is-4 level">
                <div class="box h-100 level-item">
                    <img class="image" src="~/images/dotnet.png" alt="dotNET">
                </div>
            </div>
            <div class="column is-4 level">
                <div class="box h-100 level-item">
                    <div>
                        <img class="image" src="~/images/aws.png" alt="Amazon Web Services">
                        <p class="block has-text-centered">
                            Recently migrated from Azure for pricing & ease of development.
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-4 level">
                <div class="box h-100 level-item">
                    <div>
                        <img class="image" src="~/images/bulma.png" alt="Bulma CSS">
                        <p class="block has-text-centered">
                            High quality, well maintained, and open-source CSS framework.
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-4 level">
                <div class="box h-100 level-item">
                    <div>
                        <img class="image" src="~/images/github.png" alt="GitHub">
                        <p class="block has-text-centered">
                            All <a href="https://github.com/Yarles404/IYarles" target="_blank">source code</a> is stored on
                            GitHub. I use Github Actions & AWS CDK for CI/CD.
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-4 level">
                <div class="box h-100 level-item">
                    <img class="image" src="~/images/docker.png" alt="Docker">
                </div>
            </div>
            <div class="column is-4 level">
                <div class="box h-100 level-item">
                    <p class="block has-text-centered">
                        Disclaimer: while I can "make it work," I am not a frontend wizard.
                        I designed this website to be at least semi-pleasing to the eye. I hope you enjoy it.
                        For a full list of technologies I am comfortable with, see my <a asp-action="Resume">resume</a>.
                    </p>
                </div>
            </div>
        </div>
        <h5 class="has-text-centered">Technologies will be added to this section as they are used by this website</h5>
    </div>
</section>