<section class="hero is-fullheight">
  <div class="tile is-ancestor">
    <div class="tile is-3 is-vertical is-parent">
      <div class="tile is-vertical is-child box">
        <figure class="image is-square">
          <img class="is-rounded" src="~/images/guard.jpg">
        </figure>
        <div class="has-text-centered">
          <span class="is-size-4">Charles Yang</span>
          <div>
            <p class="is-size-7">yarlescy@gmail.com</p>
            <p class="is-size-7">yarles@iastate.edu</p>
            <p class="is-size-7">
              <a href="tel: 515-559-3423">515-559-3423</a>
            </p>
          </div>

          <hr>

          <p class="is-size-6">Iowa State University</p>
          <div>
            <p class="is-size-7 is-inline">Data Science,</p>
            <p class="is-size-7 is-inline">Fall 2022</p>
            <p class="is-size-7 is-inline">3.90 GPA</p>
          </div>


          <p class="is-size-6">Relevant Courswork</p>
        </div>
        <ul>
          <li class="is-size-7">Cloud Architecture & Development</li>
          <li class="is-size-7">Principals & Internals of DBMSs</li>
          <li class="is-size-7">Algorithm Design & Analysis</li>
          <li class="is-size-7">Algorithms for Large Data Sets</li>
        </ul>

    </div>
    <div class="tile is-vertical is-child box">
      <div class="has-text-centered">
        <span class="is-size-4">Skills</span>
      </div>
      <ul>
        <li>Python, Flask</li>
        <li>AWS, CDK, Lambda, and More!</li>
        <li>Docker</li>
        <li>C# .NET</li>
        <li>Git</li>
        <li>Github Actions</li>
        <li>Elasticsearch, Logstash, Kibana</li>
        <li>Kafka</li>
        <li>Spark</li>
        <li>SQL RDMS</li>
        <li>NoSQL, Firestore/DyanmoDB</li>
        <li>Plotly & Dash</li>
      </ul>
    </div>
  </div>

  <div class="tile is-vertical is-parent">
    <div class="tile is-child box">
      <div class="has-text-centered">
        <span class="is-size-4">Work Experience</span>
      </div>
      <div>
        <u>.NET Developer at ISU Extension</u>
        <p class="is-size-7">August 2022 - Present</p>
        <ul>
          <li>Modernizing, maintaining, and improving Iowa State University's Extension store and supporting
            infrastructure</li>
        </ul>
      </div>
      <div>
        <u>Software Infrastucture Intern at Principal Financial Group</u>
        <p class="is-size-7">May 2022 - August 2022</p>
        <ul>
          <li>Worked in Distributed Infrastructure team to develop an enterprise logging solution using ELK for all
            company logs</li>
          <li>Improved and developed Github Actions CI/CD for Logstash pipelines handling over a hundred million logs
            a day</li>
          <li>Developing self-managed Kafka Connect Cluster with AWS & Confluent Platform to integrate Salesforce logs
          </li>
          <li>Worked with Principal AWS Service Management to develop automated report for enterprise logging usage with a dockerized Python Lambda
          </li>
          <li>Automated complex infrastructure deployments for the projects above with Python AWS CDK</li>
        </ul>
      </div>
      <div>
        <u>Fullstack .NET Web Application Developer at ISU EH&S</u>
        <p class="is-size-7">July 2021 - May 2022</p>
        <ul>
          <li>Integrated PasswordSafe with .NET applications, providing minimum access to secrets</li>
          <li>Built customized department in/out board</li>
          <li>Developed fully-featured department vehicle reservation system</li>
          <li>Migrated several older applications to .NET 6</li>
          <li>Moved regulatory pregnancy declaration form and workflow from paper to a web application</li>
          <li>Maintained legacy .NET Framework and .NET Core applications</li>
        </ul>
      </div>
      <div>
        <u>Freelance Developer at Threat Level Gaming LLC</u>
        <p class="is-size-7">January 2021 - August 2022</p>
        <ul>
          <li>Built the official <a href="https://threatlevel.gg/">website</a></li>
          <li>Developed serverless and RESTful Python backend services for internal social media analytics platform
          </li>
          <li>Created data vizualization service using Python Plotly Dash</li>
          <li>Made decisions on database of choice, cloud providers, and related platforms</li>
          <li>Occasionally host community oriented events in our Discord family</li>
        </ul>
      </div>
      @* <div>
        <u>Teaching Assistant at ISU Department of Computer Science</u>
        <p class="is-size-7">January 2021 - June 2021</p>
        <ul>
          <li>Taught object oriented programming</li>
          <li>Made and used grading rubrics to maintain constistent grading standards</li>
        </ul>
      </div> *@
    </div>

    <div class="tile is-child box">
      <div class="has-text-centered">
        <span class="is-size-4">Awards</span>
      </div>
      <div class="columns">
        <div class="column awards">
          <div>
            <u>Staff of the Month - July 2021</u>
            <p>Created the official website for <a href="https://threatlevel.gg/" target="_blank">Threat Level
                Gaming</a> LLC</p>
          </div>
          <div>
            <u>ISU Dean's List</u>
            <p>Maintaining 3.5 GPA or higher during Fall 2019, Spring 2020, Fall 2020, Spring 2021, Fall 2021</p>
          </div>
          <div>
            <u>Gold Cord - 2019</u>
            <p>Inducted into the National Honor Society</p>
          </div>
        </div>
        <div class="column awards">
          <div>
            <u>Vermeer Scholarship - 2020, 2021, 2022</u>
            <p>For academics, service, involvement, and character</p>
          </div>
          <div>
            <u>DMACC President's List</u>
            <p>Achieving 4.0 GPA during Fall 2017, Spring 2020, Fall 2020</p>
          </div>
          <div>
            <u>Silver Cord - 2019</u>
            <p>175+ verified volunteer hours</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>