<section class="hero is-fullheight">
  <div class="tile is-vertical is-ancestor">
    <div class="tile is-vertical is-parent">
      <div class="tile box">
        <div class="tile is-child">
          <div class="has-text-centered">
            <span class="is-size-3">Charles Yang</span>
            <p class="is-size-7">Backend Software & Infrastructure</p>

            <hr>

            <p class="is-size-6">Iowa State University</p>
            <div>
              <p class="is-size-7 is-inline">Fall 2022, Data Science, 3.90 GPA</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-vertical box has-text-centered">
        <span class="is-size-4">Skills</span>
        <div class="tile">
          <div class="tile is-child">
            <p>Python, Flask</p>
            <p>AWS & CDK</p>
            <p>Docker</p>
            <p>C# .NET</p>
          </div>
          <div class="tile is-child">
            <p>Git</p>
            <p>Github Actions</p>
            <p>ELK Stack</p>
            <p>Kafka</p>
          </div>
          <div class="tile is-child">
            <p>Spark</p>
            <p>SQL RDBMS</p>
            <p>NoSQL DBMS</p>
            <p>Plotly & Dash</p>
          </div>
        </div>
      </div>
      <div class="tile is-child box">
        <div class="has-text-centered">
          <span class="is-size-4">Work Experience</span>
        </div>
        <div class="pb-4">
          <div class="is-flex is-justify-content-space-between">
            <b>.NET Developer at ISU Extension</b>
            <span class="is-size-7">August 2022 - Present</span>
          </div>
          <ul class="ml-4">
            <li>Modernizing, maintaining, and improving Iowa State University's Extension store and
              supporting infrastructure</li>
          </ul>
        </div>
        <div class="pb-4">
          <div class="is-flex is-justify-content-space-between">
            <b>Infrastucture Intern at Principal Financial Group</b>
            <span class="is-size-7">May 2022 - August 2022</span>
          </div>

          <ul class="ml-4">
            <li>Worked in Distributed Infrastructure team to develop an enterprise logging solution using
              ELK</li>
            <li>Improved Logstash pipelines handling over a hundred million logs
              a day</li>
            <li>POC'ed self-managed Kafka Connect Cluster with AWS & Confluent Platform to integrate
              Salesforce logs
            </li>
            <li>Worked with Principal AWS Service Management to develop automated report for enterprise
              logging usage with a dockerized Python Lambda
            </li>
            <li>Implemented CI/CD pipelines for infrastructure using Github Actions</li>
            <li>Automated complex infrastructure deployments for the projects above with Python AWS CDK</li>
          </ul>
        </div>
        <div class="pb-4">
          <div class="is-flex is-justify-content-space-between">
            <b>Fullstack .NET Web Application Developer at ISU EH&S</b>
            <span class="is-size-7">July 2021 - May 2022</span>
          </div>
          <ul class="ml-4">
            <li>Integrated PasswordSafe with .NET apps, providing minimum access to secrets</li>
            <li>Built customized in/out board</li>
            <li>Developed fully-featured vehicle reservation system</li>
            <li>Migrated older applications to .NET 6</li>
            <li>Upgraded regulatory pregnancy declaration form and workflow from paper to a web application</li>
            <li>Maintained legacy .NET Framework and .NET Core applications</li>
          </ul>
        </div>
        <div class="pb-4">
          <div class="is-flex is-justify-content-space-between">
            <b>Freelance Developer at Threat Level Gaming LLC</b>
            <span class="is-size-7">January 2021 - August 2022</span>
          </div>
          <ul class="ml-4">
            <li>Built the official <a href="https://threatlevel.gg/">website</a></li>
            <li>Developed serverless and RESTful Python backend services for internal social media
              analytics platform
            </li>
            <li>Created data vizualization service using Python Plotly Dash</li>
            <li>Made decisions on database of choice, cloud providers, and related platforms</li>
            <li>Occasionally host community oriented events in our Discord family</li>
          </ul>
        </div>
        <div class="pb-4">
          <div class="is-flex is-justify-content-space-between">
            <b>Teaching Assistant at ISU Department of Computer Science</b>
            <span class="is-size-7">January 2021 - June 2021</span>
          </div>
          <ul class="ml-4">
            <li>Taught object oriented programming</li>
            <li>Made and used grading rubrics to maintain constistent grading standards</li>
          </ul>
        </div>
        <div class="pb-4">
          <div class="is-flex is-justify-content-space-between">
            <b>Group Tutor at ISU ASC</b>
            <span class="is-size-7">August 2020 - August 2021</span>
          </div>
          <ul class="ml-4">
            <li>Prepared and conducted group tutoring sessions</li>
            <li>Taught math, computer science, stats, and more</li>
          </ul>
        </div>
      </div>
    </div>
</section>