@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    font-family: 'Ubuntu';
}


ul {
    list-style: square; /* Bulma sets ul's to have list-style: none */
    padding-left: 1rem;
}

#frontpage {
    background-image: url("/images/frontpage.jpg");
    background-size: cover;
    background-position: 75% 50%;
}

#titlesbackground {
    background-image: radial-gradient(circle,rgba(0, 0, 0, .7), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    width: 125%;
}

section {
    padding: 1rem;
}

section:first-of-type {
    padding-top: 3.75rem;
}

.awards > div{
    padding-bottom: 0.5rem;
}

.h-100 {
    height: 100%;
}